<h1>LOGIN</h1>

<h2><%= @message %> </h2>

<form class="" action="/session" method="post">

  <label for="email">Email</label>
  <input type="text" name="email" value="">

  <label for="password">Passwords</label>
  <input type="password" name="password" value="">

  <button type="submit" >Login</button>

</form>
