<h1>Names</h1>


<a href="/names/new">New</a>

<ul>
    <% @names.each do |elem| %>
    <li>
      <!-- UPDATE -->

      <!-- Only if logged in -->
      <% if logged_in? %> 

        <a href="/names/<%= elem.id %>/edit">Edit</a>

      <% end %>

      <!-- DELETE -->
      <form class="" action="/names/<%= elem.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" name="button">Delete</button>
      </form>

      <a class="list" href="/names/<%= elem.id %>">
        <%= elem.name %>
      </a>
    </li>
    <% end %>
</ul>
